body {
    background: #0f172a;
    color: white;
    font-family: Arial;
    text-align: center;
}

.profile {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
    box-shadow: 0 0 10px rgba(255,255,255,0.3);
    transition: 0.3s;
}

.profile:hover {
    transform: scale(1.1);
}

.container {
    margin-top: 100px;
}

.btn {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 12px;
    background: #2563eb;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    .profile {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 3px solid white;
}
}